{% extends 'base.html' %}
{% block title %} TWEETME {% endblock title%}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Welcome to Tweetme</h2>
    </div>
</div>
<div class="row" id="tweets">Loading....</div>

<script>
    const tweetsElement = document.getElementById("tweets")
    tweetsElement.innerHTML = 'Loading..'

    
    function handledidlike(tweet_id, currentCount){
        console.log(tweet_id+"+"+currentCount)
        currentCount++

    }

    function LikeBtn(tweet) {
        return "<button class = 'btn btn-primary' onclick = handledidlike("+ (tweet.id)+","+(tweet.Likes) +")>"+(tweet.Likes)+"Likes</button>"
    }
    
    function formattweetelement(tweet) {
        var formattedtweet = "<div class='col-12 border-bottom py-3 mb-4' id = 'tweet-" + tweet.id + "'><h1>" + tweet.id + "</h1>" + "<p>" + tweet.content + "</p><div>"+LikeBtn(tweet)+"</div></div>"
        return formattedtweet
    }

    const xhr = new XMLHttpRequest()
    const method = 'GET'//POST
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        // console.log(xhr.response)
        const serverResponse = xhr.response
        var listeditems = xhr.response.response
        var finaltweetstr = ""
        var i;
        for (i = 0; i < listeditems.length; i++) {
            // console.log(i)
            var currectitem = formattweetelement(listeditems[i])
            finaltweetstr += currectitem
        }
        tweetsElement.innerHTML = finaltweetstr
        // console.log(listeditems)
    }
    xhr.send()
</script>




{% endblock content %}