{% extends 'base.html' %}
{% block title %} TWEETME {% endblock title%}

{% block content %}
<div class="row">
    <div class="col">
        <h2 style="color: rgb(53, 67, 250);">Welcome to Tweetme</h2>
    </div>
</div>


<div class="row ">
    <div class="col-md-4 mx-auto col-10">
        <form action="/create-tweets" id="tweet-create-form" method = 'POST' class="form">{% csrf_token %}
            <div class="d-none alert alert-danger" id = "tweet-create-form-error">

            </div>
            <input type="hidden" value = "/" name="next">
            <textarea required='required' rows="" class="form-control" name="content" placeholder="Your tweet" cols=""></textarea>
            <button type="submit" class ="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">Loading....</div>







<script>
    var myErrorDiv = document.getElementById("tweet-create-form-error")
    function handletweetFormError(msg, display){
        if (display === true){
            //show error
            myErrorDiv.setAttribute("class", "d alert alert-danger")
            myErrorDiv.innerText = msg
        }
        else{
            //hide errrrr
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handle_tweet_form_did_submite(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")

        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method,url)
        xhr.setRequestHeader("XHR_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.onload = function(){

            if (xhr.status === 201){
                handletweetFormError("", false)
                const newTweetjson = xhr.response
                const newTweetElement = formattweetelement(newTweetjson)
                const ogHtml = tweetsContainerelement.innerHTML
                tweetsContainerelement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            }
            else if (xhr.status === 400){
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrormsg ;
                if (contentError){
                    contentErrormsg = contentError[0]
                    if (contentErrormsg){
                        handletweetFormError(contentErrormsg, true)
                    }
                    else{
                        alert("An Error has occured")
                    }
                    // console.log(contentErrormsg)
                }
                else{
                    alert("An Error has occured")
                }
                // console.log(errorJson)
            }
            else if (xhr.status === 500){
                alert("There was a server error")
            }

        }
        xhr.onerror = function(){
            alert("An error occured please Try again latter")
        }
        xhr.send(myFormData)

    }

    const tweetcreateform1 = document.getElementById("tweet-create-form")
    tweetcreateform1.addEventListener("submit",handle_tweet_form_did_submite )

    const tweetsContainerelement = document.getElementById("tweets")

    function handledidlike(tweet_id, currentCount){
        console.log(tweet_id+"+"+currentCount)
        currentCount++
        
    }
    
    function LikeBtn(tweet) {
        return "<button class = 'btn btn-primary' onclick = handledidlike("+ (tweet.id)+","+(tweet.Likes) +")>"+(tweet.Likes)+"Likes</button>"
    }
    
    function formattweetelement(tweet) {
        var formattedtweet = "<div class='col-12 border-bottom py-3 mb-4' id = 'tweet-" + tweet.id + "'><h1>" + tweet.id + "</h1>" + "<p>" + tweet.content + "</p><div>"+LikeBtn(tweet)+"</div></div>"
        return formattedtweet
    }
    
    function loadtweet(tweetsElement){
        const xhr = new XMLHttpRequest()
        const method = 'GET'//POST
        const url = "/tweets"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            // console.log(xhr.response)
            const serverResponse = xhr.response
            var listeditems = xhr.response.response
            var finaltweetstr = ""
            var i;
            for (i = 0; i < listeditems.length; i++) {
                // console.log(i)
                var currectitem = formattweetelement(listeditems[i])
                finaltweetstr += currectitem
            }
            tweetsElement.innerHTML = finaltweetstr
            // console.log(listeditems)
        }
    xhr.send()
    }

    loadtweet(tweetsContainerelement)



</script>




{% endblock content %}